/*
Phones
*/
@media all and (max-width: 480px){ 
.card-title{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.5rem;
    transform: translate(-50%, -50%);
    text-align: center;
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 100;
}
.navbar-brand{
    font-size: 1rem;
}
}
/*
Tablets
*/
@media all and (min-width: 481px){ 
.card-title{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2.5rem;
    transform: translate(-50%, -50%);
    text-align: center;
}

}

/*
Laptops
*/
@media all and (min-width: 992px){ 
.card-title{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 4.5rem;
    transform: translate(-50%, -50%);
    text-align: center;
}
}